<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "nobody_m.original.jpg" %>
	</div>

	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>Mauris ut tellus cursus, tincidunt libero quis, molestie arcu. Donec feugiat, nisi nec hendrerit vestibulum, nisi arcu elementum felis, vitae commodo dui nunc eget mi. Nulla elementum diam sem, congue molestie urna malesuada eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ex neque, consequat nec enim ac, commodo vestibulum dolor. Etiam a nisl venenatis, mattis augue eget, faucibus orci. Aliquam erat volutpat. Donec eget viverra mauris, nec efficitur ante. Proin egestas vehicula orci, non pretium tellus tristique ac. Morbi dapibus erat vitae leo blandit euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi commodo fringilla lacus eget mattis.</p>
	</div>
</div>